<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/assets/images/nodejs_logo.png">
    
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/pages/frontend/frontend.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.11.1/build/styles/default.min.css">

    <title>Online Node.js REPL</title>
</head>
<body>

    <nav>
        <a href="/" ><img id="logo" src="/assets/images/nodejs_logo.png" alt="node.js logo"></a>

        <a href="/about">About</a>
    </nav>

        

    <main>